body {
	background: #000;
	margin: 0px;
	overflow: hidden;
	font-family: 'Frijole', cursive;
}

.hide {
	opacity: 0;
}

#blocker {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: default;
	color: #eee;
	text-shadow: 1px 1px 1px #111;

	#clickZone {
		position:absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
	}

	#instructions {
		position: relative;
		top: 40%;
		width: 100%;
		text-align: center;		

		#clickToPlay {
			font-size: 3.0em;
			-webkit-animation: bounce 4s alternate 1s infinite;
			-moz-animation: bounce 4s alternate 1s infinite;
		}

		#commands {
			font-size: 1.2em;
		}

	}

	#credits {
		position: absolute;
		left: 5px;
		bottom: 5px;
		font-size: 0.8em;
		display:inline;

		div {
			display:inline;
		}

		.link {
			cursor: pointer;
		}

		.content a {
			text-decoration: none;
			color: #c75;
			margin-left: 25px;
		}

	}

	#webGLError {
		width: 100%;
		position: absolute;
		top: 10px;
		text-align:center;
		font-size: 1.2em;

		a {
			text-decoration: none;
			color: #c75;
		}
	}

	#credits .link:hover, #credits .content a:hover, #webGLError a:hover {
		opacity: 0.5;
	}

}

.easeTransition {
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -moz-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -ms-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 400ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

@-webkit-keyframes bounce {
     from {-webkit-transform: scale(1);}
     to   {-webkit-transform: scale(1.05);}
}
@-moz-keyframes bounce {
     from {-moz-transform: scale(1);}
     to   {-moz-transform: scale(1.05);}
}